{{ define "main" }}
<section class="projects-section" id="projects">
  <h1 class="main-section-heading">PROJECTS</h1>
  <ul class="projects-list">
    {{ range (.Pages.ByParam "start_year").Reverse }}
    <li class="projects-list-item">
      <article class="project-card">
        {{ if isset .Params "project_thumbnail" }}
        {{- $image := resources.Get .Params.project_thumbnail -}}
        {{ $image := $image.Resize "256x" }}
        <div class="project-card-thumbnail-wrapper">
          {{ if isset .Params "project_url" }}
          <a href="{{ .Params.project_url }}">
            <img class="project-card-thumbnail" src="{{ $image.RelPermalink }}">
          </a>
          {{ else }}
          <img class="project-card-thumbnail" src="{{ $image.RelPermalink }}">
          {{ end }}
        </div>
        {{ end }}
        <div class="project-card-body-wrapper">
          <header class="project-card-header">
            <h1 class="project-name">
              {{ if isset .Params "project_url" }}
              <a href="{{ .Params.project_url }}">{{- .Params.project_name -}}</a>
              {{ else }}
              {{- .Params.project_name -}}
              {{ end }}
            </h1>
            {{- if isset .Params "start_year" -}}
            <span class="project-period">{{- .Params.start_year -}}{{ if isset .Params "end_year" }}–{{- .Params.end_year -}}{{ end }}</span>
            {{ end }}
          </header>
          <div class="project-card-main">{{- .Content -}}</div>
        </div>
      </article>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
