$screen-sm-min: 481px;
$screen-sm-md-min: 651px;
$screen-md-min: 791px;
$screen-md-lg-min: 1001px;
$screen-lg-min: 1201px;

$alabaster-white: rgb(250, 250, 250); // #fafafa
$off-white: rgb(240, 240, 240); // #f0f0f0
$light-gray: rgb(211, 211, 211); // #d3d3d3
$smoky-black: rgb(37, 37, 37); // #252525
$chili-red: rgb(205, 28, 24); // #cd1c18
$titanium-yellow: rgb(240, 224, 0); // #f0e000

/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* open-sans-latin-wght-normal */
@font-face {
  font-family: 'Open Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* manrope-latin-400-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/manrope@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

html {
  background: $off-white;
  color: $smoky-black;
  font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  @media (min-width: $screen-sm-min) {
    padding: 2rem 3rem;
  }

  padding: 1rem;
  margin: 0 auto;
  max-width: $screen-lg-min;
  min-height: 100vh;
}

main {
  font-family: 'Inter Variable', 'Open Sans Variable';

  a {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif;
}

a {
  color: $smoky-black;
  text-decoration: none;

  &:hover {
    color: scale-color($smoky-black, $lightness: 33%);
  }
}

.no-display {
  display: none;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.social-link {
  @media (min-width: $screen-md-min) {
    font-size: 2rem;
  }

  color: $smoky-black;
  font-size: 1.5rem;

  &:hover {
    color: scale-color($smoky-black, $alpha: -50%);
  }
}

.svg-icon {
  svg {
    height: 1em;
    width: 1em;
  }
}

.site-header {
  @media (min-width: $screen-sm-md-min) {
    justify-content: space-between;
  }

  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  justify-content: center;
  margin-bottom: 2rem;
}

.site-logo {
  @media (min-width: $screen-sm-md-min) {
    flex-basis: auto;
    font-size: 1.75em;
    text-align: left;
    white-space: nowrap;
  }

  @media (min-width: $screen-md-min) {
    font-size: 2.25em;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 2.75em;
  }

  flex-basis: 100%;
  font-size: 1.25em;  margin: 0;
  text-align: center;

  a {
    &:hover {
      color: inherit;
    }
  }
}

.site-nav {
  @media (min-width: $screen-md-min) {
    font-size: 1.2em;
  }

  @media (min-width: $screen-md-lg-min) {
   font-size: 1.4em;
  }

  font-weight: 300;
  line-height: 1.5em;
}

.site-nav-list {
  display: flex;
  gap: 0.4em;
  list-style: none;
  margin: 0;
  padding: 0;

  a.active {
    text-decoration: underline;
  }
}

.site-nav-divider,
.project-name-lead,
.work-place-lead {
  color: $titanium-yellow;
  font-weight: 700;
}

.contact-email {
  @media (min-width: $screen-sm-md-min) {
    text-align: left;
  }

  @media (min-width: $screen-md-min) {
    font-size: 1.2em;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.6em;
  }

  flex-basis: 100%;
  font-family: 'Inter Variable', 'Open Sans Variable';
  font-weight: 200;
  text-align: center;
}

.site-footer {
  @media (min-width: $screen-sm-min) {
    margin-top: 1.75rem;
  }

  @media (min-width: $screen-sm-md-min) {
    font-size: 1.125rem;
    margin-top: 2.5rem;
  }

  @media (min-width: $screen-md-min) {
    font-size: 1.125rem;
    margin-top: 3.25rem;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.25rem;
    margin-top: 4rem;
  }

  background: $light-gray;
  border-radius: 0.5em;
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1em 2em;
}

.back-to-top {
  color: $smoky-black;
  text-decoration: underline;

  &:hover {
    color: scale-color($smoky-black, $lightness: 33%);
  }
}

.header-section {
  @media (min-width: $screen-md-min) {
    font-size: 1.2rem;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.4rem;
  }

  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  justify-content: center;
  min-height: 85vh;
  padding: 0 0 3rem;

  .social-link {
    @media (min-width: $screen-md-min) {
      margin-top: 1.5rem;
    }

    display: inline-block;
    margin-top: 1rem;
  }
}

.header-section-name {
  @media (min-width: $screen-sm-md-min) {
    font-size: 3rem;
    margin: 1rem 0 0;
  }

  @media (min-width: $screen-md-min) {
    font-size: 4rem;
    margin: 1rem 0 0;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 5rem;
    margin: 1rem 0 0;
  }

  font-size: 2rem;
  font-weight: 900;
  margin: 0.5rem 0 0;
}

.header-section-profile-image {
  @media (min-width: $screen-md-min) {
    margin: 2rem 0 2rem;
  }

  border-radius: 50%;
  height: 10rem;
  margin: 1rem 0 1rem;
  width: 10rem;
}

.header-section-profile-caption {
  @media (min-width: $screen-sm-min) {
    font-size: 1rem;
  }

  @media (min-width: $screen-sm-md-min) {
    font-size: 1.3rem;
  }

  @media (min-width: $screen-md-min) {
    font-size: 1.6rem;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 2rem;
  }

  font-weight: 100;
}

.header-section-tagline {
  @media (min-width: $screen-sm-min) {
    font-size: 1rem;
  }

  @media (min-width: $screen-sm-md-min) {
    font-size: 1.125rem;
  }

  @media (min-width: $screen-md-min) {
    font-size: 1.25rem;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.375rem;
  }

  font-size: 0.875rem;
  font-style: italic;
}

.about-me-section {
  @media (min-width: $screen-sm-md-min) {
    font-size: 1.125rem;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.25rem;
  }

  font-size: 1rem;

  h1.about-me-section-heading {
    @media (min-width: $screen-sm-min) {
      font-size: 1.8rem;
      margin: 0 0 1.75rem;
    }

    @media (min-width: $screen-sm-md-min) {
      font-size: 2.2rem;
      margin: 0 0 2.5rem;
    }

    @media (min-width: $screen-md-min) {
      font-size: 2.6rem;
      margin: 0 0 3.25rem;
    }

    @media (min-width: $screen-md-lg-min) {
      font-size: 3rem;
      margin: 0 0 4rem;
    }

    font-size: 1.4rem;
    margin: 0 0 1rem;
    text-align: center;
  }
}

.about-me-subsection-wrapper {
  @media (min-width: $screen-sm-md-min) {
    gap: 2rem;
  }

  display: flex;
  flex-wrap: wrap;
}

.about-me-subsection {
  @media (min-width: $screen-sm-md-min) {
    flex-basis: auto;
    flex: 1;
  }

  flex-basis: 100%;
  font-weight: 200;
  line-height: 1.5em;

  h2 {
    @media (min-width: $screen-sm-min) {
      font-size: 1.3rem;
    }

    @media (min-width: $screen-sm-md-min) {
      font-size: 1.4rem;
    }

    @media (min-width: $screen-md-min) {
      font-size: 1.5rem;
    }

    @media (min-width: $screen-md-lg-min) {
      font-size: 1.6rem;
    }

    color: $chili-red;
    font-family: 'Manrope';
    font-size: 1.2rem;
    margin: 0;
  }
}

.about-me-subsection-header {
  background: $light-gray;
  padding: 2rem;
}

.about-me-subsection-body {
  padding: 2rem;
}

.projects-section,
.resume-section {
  @media (min-width: $screen-md-min) {
    font-size: 1.25rem;
    margin-top: 4rem;
  }

  font-weight: 200;
}

.unity-callout {
  background: $light-gray;
  border-radius: 0.5em;
  padding: 1em 2em;
}

.projects-list,
.work-history-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-card,
.work-card {
  margin: 1.5rem 0 1.75rem;
}

.project-card {
  @media (min-width: $screen-md-min) {
    flex-wrap: nowrap;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card-header,
.work-card-header {
  @media (min-width: $screen-md-min) {
    padding: 1rem 1.5rem;
  }

  @media (min-width: $screen-md-lg-min) {
    padding: 1rem 2rem;
  }

  background: $light-gray;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;

  h1 {
    font-weight: 700;
  }
}

.project-card-body,
.work-card-body {
  @media (min-width: $screen-md-min) {
    font-size: 1.125rem;
    padding: 2rem;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: justify;
  }

  @media (min-width: $screen-lg-min) {
    line-height: 1.75em;
  }

  background: $alabaster-white;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5em;
  margin: 0;
  padding: 1rem;

  p {
    margin: 0.5rem 0;
  }
}

.work-card-body {
  h2 {
    @media (min-width: $screen-md-min) {
      font-size: 1.25rem;
      margin: 0.75rem 0;
    }

    @media (min-width: $screen-md-lg-min) {
      font-size: 1.5rem;
      margin: 1rem 0;
    }

    font-size: 1.125rem;
    margin: 0.5rem 0;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.project-card-thumbnail-wrapper {
  @media (min-width: $screen-sm-min) {
    flex-basis: auto;
  }

  flex-basis: 100%;
  padding: 0 1rem;
  text-align: center;
}

.project-card-main-wrapper {
  @media (min-width: $screen-md-min) {
    margin-left: 3rem;
  }

  flex: 1;
}

.project-card-thumbnail {
  @media (min-width: $screen-sm-min) {
    margin-bottom: 0;
  }

  border-radius: 50%;
  margin-bottom: 1.5rem;
  width: 12rem;
}

.project-name-lead,
.work-place-lead {
  margin-right: 0.5rem;
}

.project-name,
.work-place {
  @media (min-width: $screen-md-min) {
    font-size: 1.5rem;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.75rem;
  }

  display: inline-block;
  font-size: 1.25rem;
  margin: 0;
}

.work-position {
  @media (min-width: $screen-md-min) {
    font-size: 1.25rem;
    line-height: 1.2em;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.5rem;
    line-height: 1.4em;
  }

  font-weight: 200;
  margin: 0.125rem 0 0;
}

.project-period,
.work-period {
  @media (min-width: $screen-md-min) {
    font-size: 1.25rem;
  }

  @media (min-width: $screen-md-lg-min) {
    font-size: 1.5rem;
  }

  font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
