<section class="header-section" id="header">
  <div class="header-section-greet">Howdy! I'm</div>
  <div class="header-section-name">ANDY LO</div>
  <div class="header-section-profile-caption">—&nbsp;THINKER, SKEPTIC, SOFTWARE DEVELOPER&nbsp;—</div>
  {{- $image := resources.Get "/images/squeakyspacebar-720.png" -}}
  {{- $image := $image.Resize "256x" -}}
  <img class="header-section-profile-image" src="{{ $image.RelPermalink }}" alt="Profile">
  <div class="header-section-tagline">I enjoy thoughtful and experimental work.</div>
  <a class="social-link" href="https://github.com/squeakyspacebar" aria-label="GitHub profile">{{- partial "fontawesome.html" "github" -}}</a>
</section>
<section class="about-me-section" id="about-me">
  <h1 class="about-me-section-heading">ABOUT ME</h1>
  <div class="about-me-subsection-wrapper">
    <section class="about-me-subsection" id="about-me-professional-profile">
      <h2>BREADTH OF EXPERIENCE</h2>
      <p>I've been a full stack developer since the very beginning of my career. My experience has run the gamut of designing and implementing solutions end-to-end across multiple domains front-to-back.</p>
      <h2>CONSCIENTIOUS</h2>
      <p>I seek challenging and meaningful work with opportunities that advance socially positive objectives. I care about craft, discipline, process, and doing things well with an eye toward long-term sustainability, but I am also flexible, anti-dogmatic, mission-driven, and results-oriented.</p>
      <h2>SELF-SUFFICIENT</h2>
      <p>I have primarily worked in solo-developer and small-team environments with high degrees of flexibility and autonomy, with plenty of experience working in both newly-formed and remote teams. I value independence, am highly self-motivated, and am comfortable with taking the initiative when empowered to do so.</p>
    </section>
    <section class="about-me-subsection" id="about-me-personal-profile">
      <h2>WHERE I'M FROM</h2>
      <p>Native Texan born-and-raised.</p>
      <h2>WHERE I'VE BEEN</h2>
      <p>The US, Canada, Australia, Taiwan, Japan, Italy, Austria, Germany, and Iceland.</p>
      <h2>PHILOSOPHY</h2>
      <p>Existentialist, empiricist, skeptic (<a href="https://www.web3isgoinggreat.com/">crypto</a> and AI included), centre-left, non-social media enjoyer.</p>
      <h2>INTERESTS</h2>
      <p>Science, mathematics, philosophy, international geopolitics, cinema, the outdoors, various things gustatory and culinary. I enjoy the exploratory: that which is simultaneously experimental, yet grounded.</p>
      <h2>DUMB PERSONALITY STUFF</h2>
      <p><a href="https://www.16personalities.com/intp-personality">INTP</a>, Aquarius, Fire Rabbit (火兔), Ravenclaw.</p>
    </section>
  </div>
  <hr>
  <h1 class="about-me-section-heading">DEVELOPER PHILOSOPHY</h1>
  <div class="about-me-subsection-wrapper">
    <section class="about-me-subsection" id="about-me-professional-philosophy">
      <h2>MINIMALIST SENSIBILITY</h2>
      <p>I believe that economy of expression, in the spirit of 成語 (chengyu) or 俳句 (haiku), can often be a virtue. Minimal implementation surfaces reflect minimized cost, risk, and maintenance.</p>
      <h2>MINDFUL APPROACH</h2>
      <p>I think about both solutions to problems and problems to solutions as risks should be acknowledged, not ignored. In experimentation, failure should be approached with risk mitigation: sometimes that involves failing quickly, but at all times it should be with minimal impact. In discovery, the focus should be on building confidence that you're pursuing the right direction rather than committing to an arbitrary one. <i>Slow is smooth, smooth is fast</i>. Proponent of the <a href="https://boringtechnology.club/">Boring Technology Club</a>.</p>
      <h2>COMMUNICATION-FOCUSED</h2>
      <p>Conciseness, clarity, and referability are important to me. Explicitly written forms of communication are an important part of that, and I believe that all findings and determinations from face-to-face communications that impact others should be documented and published in writing. These are good habits even in exclusively in-person environments, but are vital for remote work. I've seen work being thrown away time and again due to misunderstandings and misalignments. I also actually enjoy writing documentation.</p>
      <h2>SPECIFICATION-DRIVEN</h2>
      <p>If you design your requirements and specifications first, this naturally leads to testable statements. I try to focus on how it's supposed to work first, then worry about how it can fail. It's best to leverage static analysis as much as possible, as it allows you to catch potential errors before they become a problem (not to mention potential performance optimizations).</p>
      <h2>AUTOMATION-LEVERAGED</h2>
      <p>Automated styling, linting, and testing should all be parts of a multilayered developer safety net. Taking the time to establish automated environments and processes, even down to the local machine level, is not merely for convenience; in cases of fires and other destructive events, rapidly repeatable reconstructions and verifications can be incredibly important for both recovery and implementing solutions.</p>
    </section>
  </div>
</section>
