<nav class="site-nav">
  {{- $currentPage := . -}}
  <ul class="site-nav-list">
    {{- range $index, $link := .Site.Menus.main -}}
    {{- if ne $index 0 -}}
    <li class="site-nav-list-item" role="separator">
      <span class="site-nav-divider">//</span>
    </li>
    {{- end -}}
    <li class="site-nav-list-item">
      <a class="site-nav-link{{ if eq $currentPage.RelPermalink .URL }} active{{ end }}" href="{{ $link.URL }}">{{- $link.Name | upper -}}</a>
    </li>
    {{- end -}}
  </ul>
</nav>
