{{- define "main" -}}
<section class="resume-section" id="resume">
  <ol class="work-history-list">
    {{- range (.Pages.ByParam "start_year").Reverse -}}
    <li class="work-history-list-item">
      <article class="work-card">
        <header class="work-card-header">
          <h1 class="work-place">
            {{- .Params.place | safeHTML -}}
          </h1>
          <span class="work-period">
            {{- .Params.start_year -}}
            {{- if (isset .Params "end_year") -}}
              {{- if (ne .Params.start_year .Params.end_year) -}}
                –{{- .Params.end_year -}}
              {{- end -}}
            {{- else -}}
              –Current
            {{- end -}}
          </span>
          <div class="flex-break"></div>
          <div class="work-position">{{- .Params.position -}}</div>
        </header>
        <div class="work-card-body">{{- .Content -}}</div>
      </article>
    </li>
    {{- end -}}
  </ol>
</section>
{{- end -}}
