{{ define "main" }}
<section class="about-section" id="about">
  <h1 class="main-section-heading">ABOUT</h1>
  <h2>Professional</h2>
  <p>Hi, I'm Andy Lo. Squeaky Spacebar is my handle. Mostly a full stack developer by trade. Throughout my professional career, I've striven for opportunities with conscientious objectives. I care about discipline, process, and doing things The Right Way™, but am overall mission-driven, results-oriented, and anti-dogmatic.</p>
  <h2>Personal</h2>
  <p>Here are some labels, ranging from serious to silly: Born and raised in Texas, Taiwanese/Chinese by ancestry, existentialist, empiricist, centre-left, INT(J/P), Aquarius, Fire Rabbit (火兔), Ravenclaw, moderately-traveled, foodie, cinephile. I enjoy the exploratory, things simultaneously experimental yet grounded.</p>
</section>
{{ end }}
